<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot_jsp:war exploded">
    <output-path>$PROJECT_DIR$/springboot_jsp/target/springboot_jsp-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot_jsp" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot_jsp/target/springboot_jsp-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot_jsp/web/Web" />
    </root>
  </artifact>
</component>